# Ignore Visual Studio Code settings folder
.vscode/
.idea/

# Ignore compiled files
*.out
*.exe
*.o

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Other
linkedListConstructor.cpp
*.dSYM/